/dist/db.json
/dist/diktant.css
/dist/diktant.js
/dist/diktantdb.js
/dist/handler.js
/dist/main.js
/dist/main.css
/dist/moments.js
/dist/reference.js
/dist/task_v1.js
/dist/task.css
/dist/xapiwrapper.min.js
/dist/xxx.js
/dist/ytvideo.js
/dist/box_new_2.gif