:root {
    --color-primary-lightgray: #99a4ae;
    --color-primary-darkgray: #435363;
    --color-primary-bluegreen: #00adbb;
    --color-primary-orange: #efab21;
    --color-primary-red: #b52253;
    --color-primary-purple: #4a0d66;
    --color-secondary-lightgreen: #c4da00;
    --color-secondary-lightorange: #ffcb00;
    --color-secondary-green: #25ab8d;
    --color-secondary-yellow: #edd000;
    --color-secondary-lightpurple: #86278c;
    --color-secondary-lightblue: #1580b3;
    --color-secondary-rasp: #972571;
    --color-secondary-lilac: #5a499b;
    --color-secondary-ink: #3a2785;
    --color-secondary-darkblue: #0e6aa9;
    --color-secondary-indigo: #214495;
    --color-secondary-darkpurple: #3c1a76;

    --font-size: 20px;
    --font-weight: normal;
}

#task {
    margin: 0 auto;
    padding: 0 2rem 0 2rem;
    max-width: 960px;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size);
}

#task .taskContainer {
    padding-bottom: 3rem;
}

#task .taskContainer:not(:first-of-type) {
    padding-top: 3rem;
    border-top: 1px solid var(--color-primary-lightgray);
    opacity: 0;
    transform: translateY(2rem);
    animation: floatIn 0.5s ease 1s 1 forwards;
}

#task .taskContainer .taskP {
    margin-bottom: 2rem;
}

#task span.wordContainer {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

/* #task span.wordContainer.tip {
    margin-right: 40px;
} */

#task span.wordContainer .word {
    border-bottom: 2px dotted #5a7b8f;
    transition: border-bottom 0.5s ease;
}

#task span.wordContainer span.tipIcon {
    box-sizing: border-box;
    display: inline-flex;
    color: var(--color-secondary-lightblue);
    margin-left: 0.1rem;
    font-weight: bold;
    border: 2px solid var(--color-secondary-lightblue);
    border-radius: 360px;
    width: 30px;
    height: 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* #task span.wordContainer span.tipIcon.empty {
    display: none;
} */

#task span.wordContainer span.tipIcon:hover {
    color: var(--color-secondary-darkblue);
    border: 2px solid var(--color-secondary-darkblue);
}

#task span.wordContainer span.tipContainer {
    display: block;
    position: absolute;
    left: -5px;
    top: 106%;
    box-sizing: border-box;
    z-index: 10;
}

#task span.wordContainer span.tipContainer span.tipTxt {
    display: block;
    box-sizing: border-box;
    /*     width: 100%; */
    white-space: nowrap;
    background: white;
    border: 2px solid var(--color-secondary-lightblue);
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;
    transform: scale(0);
    opacity: 0;
    transition: width 0.3s linear;
    animation: popup 0.5s ease 0.1s 1 forwards;
}

#task .answersContainer {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem 1rem;
}

#task .answersContainer:not(:first-of-type) {
    border-top: 1px dotted lightgray;
    padding-top: 2rem;
}

#task .answersContainer .btn {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.5rem;
    color: var(--color-primary-darkgray);
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid var(--color-primary-darkgray);
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#task .answersContainer .btn:hover {
    color: white;
    background-color: var(--color-primary-darkgray);
}

#task .answersContainer .btn:disabled {
    pointer-events: none;
    background-color: white;
    border-color: var(--color-primary-lightgray);
    color: var(--color-primary-lightgray);
}

#task .fbContainer {
    width: 100%;
    margin-bottom: 3rem;
    box-sizing: border-box;
}

#task .fbContainer:last-of-type {
    margin-bottom: 0;
}

#task .fbContainer .fbText {
    background-color: white;
    padding: 1rem;
    border-radius: 2px;
    opacity: 0;
    transform: translateY(2rem);
    animation: floatIn 0.5s ease 0.1s 1 forwards;
}

#task span.wordContainer span.word.correct {
    color: var(--color-primary-bluegreen);
    font-weight: bold;
}

#task span.wordContainer span.word.incorrect {
    color: var(--color-primary-red);
    font-weight: bold;
}

#task .answersContainer .btn.correct {
    color: white;
    background-color: var(--color-primary-bluegreen);
    border-color: var(--color-primary-bluegreen);
}

#task .answersContainer .btn.incorrect {
    color: white;
    background-color: var(--color-primary-red);
    border-color: var(--color-primary-red);
}

#task .fbContainer .fbText.correct {
    border: 2px solid var(--color-primary-bluegreen);
}

#task .fbContainer .fbText.incorrect {
    border: 2px solid var(--color-primary-red);
}

#task .mContainer {
    display: grid;
    grid-template-columns: 200px auto;
    border-radius: 2px;
    background-color: var(--color-primary-orange);
    padding: 2em;
    margin: 1em 0 1em 0;
    align-items: center;
}

#task .mContainer .imgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
    width: 170px;
    height: 170px;
}

#task .mContainer .imgContainer.num1 {
    grid-template-areas: 'img1 img1' 'img1 img1';
}

#task .mContainer .imgContainer.num2 {
    grid-template-areas: 'img1 .' '. img2';
}

#task .mContainer .imgContainer.num3 {
    grid-template-areas: 'img1 img1' 'img2 img3';
}

#task .mContainer .imgContainer.num4 {
    grid-template-areas: 'img1 img2' 'img3 img4';
}

#task .mContainer .imgContainer img {
    transform-origin: center;
    max-height: 80px;
    opacity: 0;
}

#task .mContainer .imgContainer img:first-of-type {
    grid-area: img1;
    animation: rotate 1s linear 0.5s 1 forwards, opa 1s linear 0.5s 1 forwards;
}

#task .mContainer .imgContainer img:nth-of-type(2) {
    grid-area: img2;
    animation: rotate 1s linear 1.5s 1 forwards, opa 1s linear 1.5s 1 forwards;
}

#task .mContainer .imgContainer img:nth-of-type(3) {
    grid-area: img3;
    animation: rotate 1s linear 2.5s 1 forwards, opa 1s linear 2.5s 1 forwards;
}

#task .mContainer .imgContainer img:nth-of-type(4) {
    grid-area: img4;
    animation: rotate 1s linear 3.5s 1 forwards, opa 1s linear 3.5s 1 forwards;
}

#task .mContainer .letter {
    font-weight: bold;
}

@keyframes rotate {
    from {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes opa {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popup {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatIn {
    from {
        transform: translateY(2rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#task .finalFeedback {
    padding: 2rem;
    text-align: center;
    font-size: var(--font-size);
    box-sizing: border-box;
    font-weight: bold;
    color: white;
}

#task .finalFeedback.correct {
    background-color: var(--color-primary-bluegreen);
}

#task .finalFeedback.incorrect {
    background-color: var(--color-primary-red);
}

#task .taskContainer .off {
    display: none !important;
}

@media screen and (max-width: 1200px) {
    :root {
        --font-size: 18px;
        --font-weight: 300px;
    }

    #task {
        max-width: 780px;
    }

    #task .taskContainer span.wordContainer span.tipIcon {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 960px) {
    :root {
        --font-size: 16px;
        --font-weight: normal;
    }

    #task {
        max-width: 600px;
    }

    #task .taskContainer span.wordContainer span.tipContainer span.tipTxt {
        padding: 7px;
    }

    #task .taskContainer span.wordContainer span.tipIcon {
        width: 20px;
        height: 20px;
    }

    #task .answersContainer {
        gap: 0.5rem 0.5rem;
    }
}
